<!DOCTYPE html>
<html ng-app="components">

<head>
    <title ng-bind="appName"></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
</head>

<body>
    <nav-bar></nav-bar>
    <custom-logo></custom-logo>
    <div nav-bar></div>
    <div class="nav-bar"></div>
    <div custom-text-box></div>
    <!--end of login-->
    <!--Componentss Begin-->
    <script src="app/components/components.js"></script>
    <script src="app/components/navbar/navbar.js"></script>
    <script src="app/components/customLogo/customLogo.js"></script>
    <script src="app/components/customTextBox/customTextBox.js"></script>

</body>

</html>
